@model SoftwareTest.ViewModels.HomeViewModel

<div id="price-check">
    <div class="py-5 text-center">
        <h2>Price Check Form</h2>
        <p class="lead">We encourage you to check the price of your parcel before making your order.</p>
    </div>

   @Html.Partial("_Form", Model.FormVM)


   @Html.Partial("~/Views/Order/_Index.cshtml", Model.OrderVM)
   
</div>



<script>
   
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function spinnerToggle() {
        if ($(".loader").hasClass('active'))
        {
            $(".loader").hide().removeClass('active');
        }
        else {
            $(".loader").show().addClass('active');
        }
    }


</script>

